# Introduction
Here we will quickly demonstrate using R to analyse microbiomes with the `vegan` package

Like always, we need to install the libraries and make them available

In [4]:
library("tidyverse")
install.packages(c('cowplot', 'vegan', 'readxl'))
library('cowplot')
library('colorspace')
library('vegan')
library('readxl')

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Now upload your data from last week's soil diversity task to your folder on the left

Then load it in as a dataframe using `read_excel` function

In [9]:
soils = read.csv('/content/soils_task.csv', row.names=1)
head(soils)

        A01 A02 A03 A04 A05 A06 A07 A08 A09 A10 B01 B02 B03 B04 B05 B06 B07 B08
OTU_001 43   56  65  89 62   15  94 68   49 68  13   0   69  78 40   42  55 21
OTU_002  0    0  36   0 38  109  83  0    3  0   0   0  121   0 90  431  86  0
OTU_003  1    0   0   4  0    0   2  1    1  0  45   0  134 397 68   80 145 57
OTU_004 23   50  14  42 26   16  10 33   36 32  85  17  106 119 70   93  43 35
OTU_005 55  106 122 216 41   23 202 22  173 21   0   0    0   1  0    0   0  0
OTU_006 21   40  30  55 20   23   7 15   19 14  66   0   45 147 44  147  36 68
        B09 B10
OTU_001  42 36
OTU_002   1  0
OTU_003  43 12
OTU_004  66 73
OTU_005   0  0
OTU_006 113 67

Needs to be transposed so OTUs are on the top and samples are the row names

In [11]:
soils_t = t(soils)
head(soils_t)

    OTU_001 OTU_002 OTU_003 OTU_004 OTU_005 OTU_006 OTU_007 OTU_008 OTU_009
A01 43        0     1       23       55     21       78     0        0
A02 56        0     0       50      106     40       54     0        0
A03 65       36     0       14      122     30        1     0        0
A04 89        0     4       42      216     55       56     0        0
A05 62       38     0       26       41     20       31     0        0
A06 15      109     0       16       23     23      101     0       21
    OTU_010 ⋯ OTU_291 OTU_292 OTU_293 OTU_294 OTU_295 OTU_296 OTU_297 OTU_298
A01 0       ⋯ 0        0      0        0      0       0       0       0
A02 0       ⋯ 0        0      0        0      0       0       0       0
A03 0       ⋯ 0        0      0        0      0       0       0       0
A04 0       ⋯ 0        0      0        0      0       0       0       0
A05 0       ⋯ 0       13      0       20      0       0       0       0
A06 0       ⋯ 0        0      0        0      0       0       0       0
    OTU_299 OTU_300
A01 0       0
A02 0       0
A03 0       0
A04 0       0
A05 0       0
A06 0       0

Now let's calculate diversity

In [19]:
shannon = diversity(sqrt(soils_t), index = "shannon")
dataframe = tibble(sample=row.names(soils_t), shannon_diversity=shannon)
dataframe

   sample shannon_diversity
1  A01    4.604996
2  A02    4.561419
3  A03    4.563048
4  A04    4.702890
5  A05    4.552948
6  A06    4.533026
7  A07    4.616399
8  A08    4.564764
9  A09    4.549510
10 A10    4.653529
11 B01    5.023761
12 B02    3.702655
13 B03    5.024058
14 B04    5.012858
15 B05    4.962184
16 B06    5.065162
17 B07    4.935089
18 B08    4.917645
19 B09    4.863567
20 B10    4.888033